<script
  src="{{ static_asset_url('editor_init.js') }}"
  data-core-css="{{ static_asset_url('vendor/codemirror/lib/codemirror.min.css') }}"
  data-core-js="{{ static_asset_url('vendor/codemirror/lib/codemirror.min.js') }}"
  data-addon-matchbrackets="{{ static_asset_url('vendor/codemirror/addon/edit/matchbrackets.min.js') }}"
  data-addon-closebrackets="{{ static_asset_url('vendor/codemirror/addon/edit/closebrackets.min.js') }}"
  data-mode-clike="{{ static_asset_url('vendor/codemirror/mode/clike/clike.min.js') }}"
  data-mode-python="{{ static_asset_url('vendor/codemirror/mode/python/python.min.js') }}"
  data-mode-stex="{{ static_asset_url('vendor/codemirror/mode/stex/stex.min.js') }}"
  data-mode-javascript="{{ static_asset_url('vendor/codemirror/mode/javascript/javascript.min.js') }}"
  defer
></script>
