{% extends "root_base.html" %}
{% block page_styles %}<link rel="stylesheet" href="{{ static_asset_url('css/admin_settings.css') }}" />{% endblock %}
{% block root_title %}{% block admin_title %}Administration{% endblock %} - {{ ui_browser_title }}{% endblock %}
{% block content %}
{% set section_navigation_title = 'Administration' %}
{% set section_navigation_aria_label = 'Administration sections' %}
{% set section_navigation_items = admin_nav %}
{% include "_root_section_navigation.html" %}
{% include "_flash_message.html" %}
{% block admin_content %}{% endblock %}
{% endblock %}
{% block page_scripts %}
<script type="module" src="{{ static_asset_url('js/admin.js') }}"></script>
<script type="module" src="{{ static_asset_url('js/auth.js') }}"></script>
{% endblock %}
