{% extends "base.html" %}
{% from "_component_forms.html" import rename_source_form, source_editor_form %}
{% block content %}
<h1 class="page-title">Validator</h1>
{% include "_flash_message.html" %}
{% set editor_error = message if message_level == 'error' else '' %}
<section class="component-workbench">
    <div class="component-workbench-head">
      <div>
        <h2>{{ "Validator source" if validator_status.repo_source_exists else "New validator" }}</h2>
      </div>
      {% if validator_status.repo_source_exists %}<code class="component-workbench-path">{{ repo_source }}</code>{% endif %}
    </div>
    {% if validator_status.repo_source_exists %}
    {{ rename_source_form(
      problem_href('validator_rename_source'),
      repo_source,
      "validator-rename-path"
    ) }}
    {% endif %}
    {{ source_editor_form(
      problem_href('validator_save_source'),
      repo_source,
      repo_content,
      repo_content_truncated,
      content_char_limit,
      "Save validator",
      editor_error,
      not validator_status.repo_source_exists,
      "validator-source-path",
      starter_content
    ) }}
</section>
{% endblock %}
